@model FluorecerApp_Client.Entities.MedicalTestsEnt

@{
    ViewBag.Title = "Asignar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-11 mx-auto">

        <br />
        <h5>Asignar Evaluación</h5>
        <br />

        @using (Html.BeginForm("AssignEvaluation", "Test", FormMethod.Post, new { enctype = "multipart/form-data", id = "assignForm", onsubmit = "submitForm(event)" }))
        {
            <div>
                <label for="UserId">User ID:</label>
                @Html.TextBoxFor(m => m.UserId, new { @class = "form-control", required = "required", id = "userId" })
            </div>

            <div>
                <label for="FileName">File Name:</label>
                @Html.TextBoxFor(m => m.FileName, new { @class = "form-control", required = "required", id = "fileName" })
            </div>

            <div>
                <label for="Date">Date:</label>
                @Html.TextBoxFor(m => m.Date, new { @class = "form-control", required = "required", id = "date" })
            </div>
            <br />
            <div>
                <label for="FilePath">File:</label>
                <input type="file" name="file" id="file" />
            </div>
            <br />
            <div>
                <button type="submit" class="btn btn-primary">Asignar</button>
            </div>
        }
    </div>

</div>
