@model FluorecerApp_Client.Entities.MedicalTestsEnt

@{
    ViewBag.Title = "Tests Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-11 mx-auto">

        <br />
        <h5>Mis Evaluaciones</h5>
        <br />

        @if (ViewBag.ResultMessage != null)
        {
            <div class="alert alert-info" role="alert">
                @ViewBag.ResultMessage
            </div>
        }

        @using (Html.BeginForm("DownloadEvaluation", "Test", FormMethod.Get, new { id = "downloadForm" }))
        {
            @Html.HiddenFor(m => m.UserId)

            <br />
            <div>
                <p>Descargue sus evaluaciones:</p>
                <button type="submit" class="btn btn-primary" style="background-color: #3D3372; color: white;" onclick="downloadEvaluation()">Descargar Evaluación</button>
            </div>
        }

        <br />
        <p>Si ya realizó su evaluación, proceda a enviarla:</p>

        @Html.ActionLink("Enviar Evaluación", "SendEvaluation", "Test", null, new { @class = "btn btn-primary", style = "background-color: #1C8C4D; color: white;" })

    </div>
</div>



