@model FluorecerApp_Client.Entities.LoginEnt
@{
    ViewBag.Title = "Recuperar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="my-5 d-flex justify-content-center align-items-center">
    <div class="col-md-5 p-5 shadow-sm border rounded-3">
        <h2 class="text-center mb-4 login_titles fs-2">Recuperar contraseña</h2>
        @using (Html.BeginForm("PasswordRecovery", "User", FormMethod.Post, new { id = "recoveryForm" }))
        {
            <div class="mb-3">
                <label for="inputEmail" class="form-label error_badges">Correo electrónico</label>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control border_forms", id = "inputEmail", @type = "email" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger fs-6" })
                <p class="text-danger" fs-6>@ViewBag.MsjPantalla</p>
            </div>
            <div class="d-grid">
                <button class="btn btn-primary btn_login" type="submit">Enviar Correo</button>
            </div>

            
        }
        <div id="loginMessage" class="mt-3 text-center"></div>
        <div class="mt-3">
            <p class="mb-0 text-center">
                @Html.ActionLink("Volver al inicio", "Index", "Home", null, new { @class = "login_titles fw-bold links" })
            </p>
        </div>
    </div>
</div>

