@model IEnumerable<FluorecerApp_Client.Entities.AppointmentsEnt>


<div class="container mt-4">
    <table id="appointmentsTable" class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Fecha</th>
                <th>Día</th>
                <th>Disponible</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in Model)
            {
                <tr>
                    <td>@appointment.Date.ToString("yyyy-MM-dd")</td>
                    <td>@appointment.Date.ToString("dddd")</td>
                    <td>@(appointment.Available ? "Sí" : "No")</td>
                    <td>
                        @if (appointment.Available)
                        {
                            <a class="btn btn-success" href="@Url.Action("SetAppointment", "Appointment", new { appointmentId = appointment.AppoimentId })">Reservar</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

